{% extends "base_generic.html" %}


{% block sidecont %}
     <p>Set up choices</p>
     <button id="snap" onclick="snap()">Breath</button>


     
{% endblock %}

{% block content %}
     {% if movie_choice %}
	{% with "TurtleVision/"|add:movie_choice.movie_path|add:"/"|add:movie_choice.movie_title|add:"."|add:movie_choice.movie_type as movieSource %}
		{% load static %}
		<video id="my_video" width="320" height="240" controls>
 			<source src={% static movieSource %} type="video/{{movie_choice.movie_type}}">
			Your browser does not support the video tag.
		</video>
                <canvas style="width:300px"></canvas>
		

{% load static %}
<script src={% static "TurtleVision/capturingFunctions.js" %}></script>
		

	{% endwith %}
      {% else %}
		<p>No video</p>
      {% endif %}
{% endblock %}

