{% extends "base_generic.html" %}

{% block sidecont %}
     <select class="side-elem button" name="session-select" id="session-select" data-movies-list="{% url 'TurtleVision:ajax_load_movies' %}" novalidate>
     	<option value="">Select Session</option>
     	{% for sess in session_choices %}
          	<option id="{{sess.pk}}" value="{{sess.pk}}">{{sess}}</option>
     	{% endfor %}
     </select>

     <div id="movie-list">
     	<select id ="movie-set" class="side-elem button" name="movie-select">
     	</select>
     </div>

     <select class="side-elem button" name="anal-select" id="anal-list">
	<option value="">Just Watch</option>
	<option value="">Direct Analysis</option>
     	{% for tag in tag_choices %}
          	<option id="{{tag.pk}}" value="{{tag.pk}}">{{tag}}</option>
     	{% endfor %}
     </select>

     <div>
         <p class = "side-elem">Second of Frame:</p>
         <p id="secToLog" class="side-elem"></p>
     </div>

     <div>
     	<canvas id="snapcanvas" name="snapcanvas" style="width:90%"></canvas>
     </div>

     <div id = "tags" tag_choices_list = "{% url 'TurtleVision:ajax_load_tags' %}" nonvalidate>
     </div>
     
{% endblock %}

{% block contHead %}

     <h1 class="head-elem">Train the model</h1>

{% endblock %}

{% block content %}

     {% if movie_choice %}

		<div class="vid-cont" id="vidc">
			<video id="my_video" class="video-js vidDisp" name='my_video' controls>
				<source id="src_grab" src='\media\videos\MOV_0001.mp4' type="video/mp4">
				Select a Session and Movie.
                                 <p class="vjs-no-js">
    					To view this video please enable JavaScript, and consider upgrading to a
   					 web browser that
    					<a href="https://videojs.com/html5-video-support/" target="_blank">
      					supports HTML5 video
    					</a>
  				</p>
			</video>		
		</div>

      {% else %}
		<p>No video</p>
      {% endif %}

{% endblock %}

{% block javascript %}

        <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
        <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>

	{% load static %}
	<script src={% static "TurtleVision/capturingFunctions.js" %}></script>
        <script src={% static "TurtleVision/videoJSExt.js" %}></script>
	<script src={% static "TurtleVision/selector.js" %}></script>
{% endblock %}

