{% extends "base_generic.html" %}

{% block sidecont %}
     <select class="side-elem button" name="session-select" id="session-select" data-movies-list="{% url 'TurtleVision:ajax_load_movies' %}" novalidate>
     	<option value="">Select Session</option>
     	{% for sess in session_choices %}
          	<option id="{{sess.pk}}" value="{{sess.pk}}">{{sess.pk}}</option>
     	{% endfor %}
     </select>

     <div id="movie-list" data-video="{% url 'TurtleVision:ajax_load_video' %}" novalidate>
     	<select id ="movie-set" class="side-elem button" name="movie-select">
     	</select>
     </div>

     <div id="anal-list">
     	<select class="side-elem button">
		<option>Select anal</option>
     	</select>
     </div>

     <div>
     	<button id="snapBreath" onclick="snap(1)" class="side-elem button">Breath</button>
     	<canvas id="breathshot" name="breathshot" style="width:90%"></canvas>
     	<button id="saveBreath" onclick="save(1)" class="side-elem button">Save Breath</button>
     </div>

     <div>
         <p id="secToLog" class="side-elem">Sec</p>
     </div>

     <div>
     	<button id="snapApnea" onclick="snap(2)" class="side-elem button">Apnea</button>
     	<canvas id="apneashot" name="apneashot" style="width:90%"></canvas>
     	<button id="saveApnea" onclick="save(2)" class="side-elem button">Save Apnea</button>
     </div>
     
{% endblock %}

{% block contHead %}

     <h1 class="head-elem">Train the model</h1>

{% endblock %}

{% block content %}

     {% if movie_choice %}

		<div class="vid-cont" id="vidc">
			<video id="my_video" class="video-js vidDisp" name='' controls>
				<source id="src_grab" src='\media\videos\MOV_0001.mp4' type="video/mp4">
				Select a Session and Movie.
                                 <p class="vjs-no-js">
    					To view this video please enable JavaScript, and consider upgrading to a
   					 web browser that
    					<a href="https://videojs.com/html5-video-support/" target="_blank">
      					supports HTML5 video
    					</a>
  				</p>
			</video>		
		</div>

      {% else %}
		<p>No video</p>
      {% endif %}

		<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
		{% load static %}
		<script src={% static "TurtleVision/capturingFunctions.js" %}></script>
                <script src={% static "TurtleVision/videoJSExt.js" %}></script>
		<script src={% static "TurtleVision/selector.js" %}></script>

{% endblock %}