{% extends "base_generic.html" %}

{% block contHead %}

<h1 class = "head-elem">Admin Upload</h1>

{% endblock %}

{% block content %}

<h4>Upload new session</h4>

<iframe name="file-upload" src="" style="border: none; visibility: hidden; width: 0; height: 0; position: absolute; top: 0; left: 0;"></iframe>

<form id = "uploadForm" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="cent" for= "session_date">Date recorded: </label>
    <input class="cent button" id="session_date" type="date" name="session_date" value="">
    <br>
    <label class="cent" for= "session_loc">Location: </label>
    <input class="cent button" id="session_loc" type="text" name="session_loc" macxlength="100">
    <br>
    <label class="cent" for= "video_file_field">Videos: </label>
    <input class="cent button" id="video_file_field" type="file" name="video_file_field" value=" " multiple>
    <br>
    <label class="cent" for= "CSV_file_field">Log: </label>
    <input class="cent button" id="CSV_file_field" type="file" name="CSV_file_field" value=" ">
    <br>
    <input class="cent button" type="submit" value="Submit">
</form>

{% load static %}
<script src={% static "TurtleVision/uploadBar.js" %}></script>

{% endblock %}